<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masters Project | {{ title }}</title>
    <link rel='stylesheet' href='http://chilly2go.de/fa17g16/stylesheets/style.css'/>
    {% block localstylesheets %}
        {% for css in data.local.stylesheets %}
            <link rel='stylesheet' href='http://chilly2go.de/fa17g16/stylesheets/{{ css }}'/>
        {% endfor %}
    {% endblock %}
    {% block externalstylesheets %}
        {% for css in data.external.stylesheets %}
            <link rel='stylesheet' href='{{ css }}'/>
        {% endfor %}
    {% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://chilly2go.de/fa17g16/js/fontawesome.js"></script>
    <script type="text/javascript" src="http://chilly2go.de/fa17g16//js/typeahead.bundle.js"></script>
    <script type="text/javascript" src="http://chilly2go.de/fa17g16//js/ready_functions.js"></script>
    <script>
        $('body').scrollspy({target: '#navbar-cv'});
    </script>
</head>
<body data-spy="scroll" data-target="#navbar-cv" data-offset="0">
<!-- Navigation Bar -->
<div id="headerNavPinned navbar-static-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-header">
            <a class="navbar-brand" href="/fa17g16/" style="margin-right:150px;">
                <img src="http://chilly2go.de/fa17g16//images/homepage_logo_navbar.png"
                     style="position:absolute;  height:80%; max-height:50px; margin-top:-25px;">
            </a>
        </div>
        <div class="navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/fa17g16/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fa17g16/search/agencies/show">Agencies</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/fa17g16/about/about">About Us</a>
                        <a class="dropdown-item" href="/fa17g16/about/tim">Tim Hofer</a>
                        <a class="dropdown-item" href="/fa17g16/about/micha">Micha Heiderich</a>
                        <a class="dropdown-item" href="/fa17g16/about/anastasia">Anastasia Savlukov</a>
                        <a class="dropdown-item" href="/fa17g16/about/moritz">Moritz Mäthrich</a>
                        <a class="dropdown-item" href="/fa17g16/about/gabin">Gabin Vivier Deffo</a>
                    </div>
                </li>
            </ul>
            {% if user %}
                <ul class="nav navbar-nav ml-auto mr-auto justify-content-end">
                    <li class="mr-1 nav-link"><a href="/fa17g16/user/dashboard" style="color:inherit;"><i class="fa fa-user-circle fa-lg"></i> <i>{{ user.first_name }} {{ user.last_name }}</i></a>
                    </li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav ml-auto justify-content-end">
                <li class="nav-item dropdown">
                    <div>
                        {% if user %}
                            <button id="buttonMyHp" type="button" class="btn btn-outline-secondary"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle fa-lg"></i> My HOMEpage
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" id="myhomepage">
                                <p>Logged in as {{ user.first_name }} {{ user.last_name }}</p>
                                <p><a id="linkDashboard" class="nav-link"
                                      href="/fa17g16/user/dashboard"><i class="fa fa-address-book"></i> Show
                                        Dashboard</a></p>
                                <p><a id="linkLogout" class="nav-link"
                                      href="/fa17g16/user/logout"><i class="fa fa-sign-out"></i> Logout</a></p>
                            </div>
                        {% else %}
                            <button id="buttonMyHp" type="button" class="btn btn-outline-secondary"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                My HOMEpage
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" id="myhomepage">
                                <form id="loginForm">
                                    <div class="login-form">
                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            <input type="email" class="form-control" id="Email"
                                                   aria-describedby="emailHelp"
                                                   name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">Password</label>
                                            <input type="password" name="password" class="form-control" id="Password"
                                                   aria-describedby="emailHelp">
                                        </div>
                                        <div class="text-center">
                                            <div id="errorfield"></div>
                                            <button id="buttonMyHp" type="submit" class="btn btn-outline-secondary"><i
                                                        class="fa fa-sign-in log-btn"></i> Login
                                            </button><br/><br/>
                                            <span>Not registered yet?
                                        <a id="linkRegister" class="nav-link"
                                           href="/fa17g16/user/reg">Register here</a>
                                    </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-lg-1">{% block sidebar %}{% endblock %}</div>
    <div class="col-lg-10">
        <div class="container-fluid py-1" id="content">
            {% if sessionFlash %}
                {% include 'partials/flash_messages.twig' %}
            {% endif %}
            {% block body %}{% endblock %}
        </div>
    </div>
    <div class="col-lg-1">{% block sidebar2 %}{% endblock %}</div>
</div>

<div class="footer"><p class="text-light">SFSU Software Engineering Project, Fall 2017. For Demonstration Only
        <i class="fa fa-css3"></i>&nbsp;<i class="fa fa-html5"></i>&nbsp;
        <i class="fa fa-firefox"></i>&nbsp;<i class="fa fa-chrome"></i></p>
    <p class="text-light"> All used pictures are from pexels.com and free for any personal and commercial purpose</p>
</div>
<script>
    $('div.alert').not('.alert-important').delay(5000).fadeOut(1000);
</script>
</body>
</html>
